/*///////*/
body {
    background-color: black;
    color: white;
    font-size: 2em;
}
svg {
    border-style: dotted;
    border-width: 1px;
    border-color: white;
}
.inputPose {
    width: 50px;
}
.global {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.viewColumn,
.posesColumn,
.choregraphies,
.control {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex: 1;
}
.directs {
    display: flex;
    flex-direction: row;
}
.direct {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid white;
    align-items: center;
}
.directposes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.edition {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content start;
}
.pushbutton {
    height: 50px;
}
.buttonup,
.buttondown {
    flex: 1;
    width: 100%;
    height: 100px;
}
.poses {
    display: flex;
    flex-direction: column;
}
.pose {
    display: flex;
    flex-direction: row;
    flex: 1;
}